{{#each this}}
<h1 class="title">{{name}}</h1>
<div class="container">
    <div class="captions">
        <h3>Capital: {{capital}}</h3>
        <h3>Population: {{population}}</h3>
        <h3>Languages:</h3>
        <ul>

            {{#each languages}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="image">
        <img class="flag" src="{{flag}}" alt="флаг" {{/each}} />
    </div>
</div>